body {
  margin: 0;
  height: 100%;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.column-full {
  width: 100%;
}

.row {
  display: flex;
}

h2 {
  text-align: center;
}

.modal-btn {
  width: 22%;
  height: 50px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin: 5px;
  font-size: 24px;
  color: white;
  background-color: #4a4ae9;
}

.survey-btn {
  width: 35%;
  height: 50px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin: 25px 0;
  font-size: 24px;
  color: white;
  background-color: #eb5d5d;
}

.hidden-pop {
  display: none;
}

.shown-pop {
  box-shadow: 0 0 1000px 800px #323232;
  border-radius: 8px;
  width: 40%;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.height-500px {
  height: 500px;
}

.margin-30px {
  margin: 30px;
}

.margin-10px {
  margin: 10px;
}
